html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Stil für Validierungsfehler unter den Feldern */
.text-danger {
    font-size: 0.875rem;
    margin-top: 0.25rem;
    color: #dc3545 !important;
    font-weight: 500;
}

/* Fehlerzusammenfassung hervorheben */
#editValidationSummary,
#createValidationSummary {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
}

/* Eigenes orangenes Outline-Button für Bearbeiten */
.btn-outline-orange {
    color: #fd7e14 !important; /* Orangene Schrift (Bootstrap-Orange) */
    border-color: #fd7e14 !important; /* Orangener Rand */
}

    .btn-outline-orange:hover {
        background-color: #fd7e14 !important; /* Hintergrund wird orange beim Hover */
        color: white !important; /* Schrift wird weiß */
        border-color: #fd7e14 !important;
    }